.charge{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.charge-text{
    font-family: "Raleway",sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    color: darkslategray;

}
    
.basic-charge ,.pro-charge,.premium-charge{
    margin-top: 15px;
    width: 330px;
    transition: box-shadow 0.4s;
    margin-bottom: 15px;
    background: linear-gradient(270deg, #8198ff,#8097ff ,#c082ff);


}

.basic-charge:hover,.premium-charge:hover{
    box-shadow: 0px 0px 10px rgb(0, 83, 134);

}
.pro-charge:hover{
    box-shadow: 0px 0px 10px rgb(134, 0, 0);
}

.charge-list{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: space-between;
}

.basic-name,.premium-name{
    padding-top: 28px;
    padding-bottom: 28px;
    border: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    font-family: "Raleway",sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color:rgb(0, 62, 101);   
    color: white;
    border-color: rgba(110, 110, 110, 0.968);
    
}

.pro-name{
    padding-top: 28px;
    padding-bottom: 28px;
    border: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    font-family: "Raleway",sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color:rgb(134, 22, 0);   
    color: white;
    border-color: rgba(110, 110, 110, 0.968);
}

.basic-skill,.basic-skill-2,.basic-storage,.basic-mail,.basic-cost{

    padding-top: 20px;
    padding-bottom: 20px;
    border: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: 400;
    border-color: rgba(199, 199, 199, 0.968);
}

.pro-skill,.pro-skill-2,.pro-storage,.pro-mail,.pro-cost{

    
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: 400;
    border-color: rgba(199, 199, 199, 0.968);
}

.premium-skill,.premium-skill-2,.premium-storage,.premium-mail,.premium-cost{

    
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: 400;
    border-color: rgba(199, 199, 199, 0.968);
}

span{
    font-family: "Raleway",sans-serif;
    font-size: 28px;
}

.basic-button,.premium-button,.pro-button{
    padding-top: 35px;
    padding-bottom: 35px;
    border: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: 400;
    border-color: rgba(199, 199, 199, 0.968);

}

.basic-sign-up,.premium-sign-up{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:30px;
    padding-right:30px;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-color:rgb(0, 83, 134); 
    color: white;
    border: none;
    transition: background-color,color 0.3s;
    cursor: pointer;

}
.pro-sign-up{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:30px;
    padding-right:30px;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-color:rgb(134, 22, 0);   
    color: white;
    border: none; 
    transition: background-color,color 0.3s;
    cursor: pointer;
}


.basic-sign-up:hover,.pro-sign-up:hover,.premium-sign-up:hover{
    background-color:rgb(115, 137, 158);
    color: black;

}





