
.content {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    padding: 20px;
    
}

.content-1, .content-2, .content-3, .content-4, .content-5, .content-6 {
    display: flex;
    flex-direction: column;
    width: 98%; 
    background: linear-gradient(270deg, #748aea,#7186e6 ,#7c54a4);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    gap: 20px;
  

}



.content-1:hover, .content-2:hover, .content-3:hover, .content-4:hover, .content-5:hover, .content-6:hover {
    box-shadow: 0px 0px 20px rgba(83, 83, 84, 0.5);
}

.content img {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover; 
}

.content a {
    padding-top: 5px;
    padding-left: 10px;
    text-decoration: none;
    color: #3498db;
    font-weight: 600;
    transition: color 0.3s;
}

.content a:hover {
    color: #2980b9; 
}


.content-name-1, .content-name-2, .content-name-3, .content-name-4, .content-name-5, .content-name-6 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 10px;
    color: #b4d0ed;
}

.content-description-1, .content-description-2, .content-description-3, .content-description-4, .content-description-5, .content-description-6 {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    color: #ffffff;
}

.content-category-1, .content-category-2, .content-category-3, .content-category-4, .content-category-5, .content-category-6 {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    color: #bcbcbc;
}

.page-count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px; 
}

.page-count a {
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    background: linear-gradient(135deg, #3498db, #2980b9); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.page-count a:hover {
    background: linear-gradient(135deg, #2980b9, #3498db); 
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}


.page-count .page-1 a,
.page-count .page-2 a,
.page-count .page-3 a,
.page-count .page-4 a {
    background: linear-gradient(135deg, #2c3e50, #34495e); 
}

.page-count .page-1 a:hover,
.page-count .page-2 a:hover,
.page-count .page-3 a:hover,
.page-count .page-4 a:hover {
    background: linear-gradient(135deg, #34495e, #2c3e50); 
}

.page-count .previous a,
.page-count .next a {
    background: linear-gradient(135deg, #e67e22, #d35400); 
}

.page-count .previous a:hover,
.page-count .next a:hover {
    background: linear-gradient(135deg, #d35400, #e67e22); 
}






