
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .main-section {
    background: linear-gradient(90deg, #1e1e1e, #2a2a2a, #333333);
}

.dark-mode .about-me-description{
    color: aliceblue;
}

.dark-mode .content-1, 
.dark-mode .content-2, 
.dark-mode .content-3, 
.dark-mode .content-4, 
.dark-mode .content-5, 
.dark-mode .content-6,
.dark-mode .content-7, 
.dark-mode .content-8, 
.dark-mode .content-9, 
.dark-mode .content-10, 
.dark-mode .content-11, 
.dark-mode .content-12, 
.dark-mode .content-13, 
.dark-mode .content-14, 
.dark-mode .content-15, 
.dark-mode .content-16,
.dark-mode .content-17, 
.dark-mode .content-18, 
.dark-mode .content-19, 
.dark-mode .content-20   {
    background: linear-gradient(270deg, #2a2a4a, #282842 , #3a2a4a);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: black;
}

.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 83, 134);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}