.main-section{
    background: linear-gradient(90deg, #ffffff,#dcf3ff ,#cccccc);
    position: relative;
}

.dropdown {
    margin: 20px;
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: linear-gradient(270deg, #6f84e0,#6c81dc ,#734e98);
    color: white;
    padding: 10px 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #a04545;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}