.sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(270deg, #748aea,#7186e6 ,#7c54a4);
    color: rgb(232, 232, 232);

    
}

.profile-picture{
    margin-top: 20px;
    display: flex;
    justify-content: center;
   
}

.profile-picture img{
    
    border-radius: 10px;
    height: 125px;
    width: 125px;
    object-fit: cover;
    object-position: center;

    transition:height 0.3s , width 0.3s;

    
    
}

.profile-picture img:hover{
    height: 200px;
    width: 200px;
}

.profile-name{
    
    font-family: "Raleway",sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 15px;
    
    

    
}

.publisher-name{
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 0px;
}

.publisher{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}

.portfolio ,.about ,.contact ,.social-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    transition: background-color 0.4s;
    cursor: pointer;
}

.portfolio-text ,.about-text ,.contact-text ,.tweeter ,.instagram ,.snapchat ,.linkdin{
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Raleway",sans-serif;
    font-size: 15px;

    
}

.portfolio:hover ,.about:hover ,.contact:hover {
   background-color: rgb(220, 220, 220);
   color: rgb(3, 0, 186);
}

.facebook:hover,.tweeter:hover ,.instagram:hover ,.snapchat:hover ,.linkdin:hover{
   
   height: 35px;
   width: 35px;
}

.facebook{
    
    padding-right: 10px;
    padding-left: 10px;
}





