body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(-45deg,#2f23d5,#6e8ae8, #667eea, #667eea,  #4d66d4,  #23d5ab,#d5d223,#d52323 ,#d52323);
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    animation: gradientBG 15s ease infinite;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .profile-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    display: flex;
    width: 600px;
    padding: 20px;
    animation: float 6s ease-in-out infinite;
    transition: all 0.5s ease;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0) rotate(0.5deg);
    }
    25% {
      transform: translateY(-10px) rotate(-0.5deg);
    }
    50% {
      transform: translateY(-5px) rotate(0.5deg);
    }
    75% {
      transform: translateY(-10px) rotate(-0.5deg);
    }
  }
  

    @media (min-width: 768px) {
        .profile-card {
            flex-direction: row;
            width: 600px;
        }
        .left-side {
            margin-right: 20px;
            margin-bottom: 0;
        }
        .profile-content {
            flex: 1;
        }
    }

    @media (max-width: 767px) {
        .profile-card {
            width: 100%;
            max-width: 400px;
        }
        .button-container {
            flex-wrap: wrap;
        }
        .follow-button, 
        .portfolio-button, 
        .cv-button, 
        .blogs-button {
            flex: 1 0 40%;
            margin-bottom: 10px;
        }
        .dropdown {
            width: 100%;
        }
        .dropbtn {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
        .dropdown-content {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    @media (max-width: 480px) {
        .profile-image {
            width: 100px;
            height: 100px;
        }
        .company-logo {
            width: 70px;
            height: 70px;
        }
        .profile-content h1 {
            font-size: 20px;
        }
        .profile-stats {
            flex-wrap: wrap;
        }
        .profile-stats div {
            flex: 1 0 33%;
            margin-bottom: 10px;
        }
        .follow-button, 
        .portfolio-button, 
        .cv-button, 
        .blogs-button {
            flex: 1 0 100%;
        }
    }