
.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.follow-button, .portfolio-button, .cv-button, .blogs-button, .hire-me-button {
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1;
}



.follow-button {
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.portfolio-button {
    background: linear-gradient(135deg, #4caf50, #81c784);
}

.cv-button {
    background: linear-gradient(135deg, #ff6f61, #ff9a9e);
}

.blogs-button {
    background: linear-gradient(135deg, #ffa726, #ffca28);
}

.hire-me-button {
    background: linear-gradient(135deg, #9c27b0, #e91e63);
    width: 100%;
    margin-top: 10px;
}

.follow-button:hover, .portfolio-button:hover, .cv-button:hover, .blogs-button:hover, .hire-me-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.follow-button:active, .portfolio-button:active, .cv-button:active, .blogs-button:active, .hire-me-button:active {
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.self-coded-btn {
    background: linear-gradient(135deg, #1162cb, #25fc89);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
    display: block;
}

.self-coded-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.self-coded-btn:active {
    transform: translateY(1px);
}
