header {
    background: linear-gradient(135deg, #000, #333);
    color: #fff;
    text-align: center;
    padding: 5px 20px;
    font-family:"Poppins" ;
}

header h1 {
    margin: 0;
    font-size: 23px;
}

header p {
    margin: 10px 0 0;
    font-size: 18px;
}

.dark-mode header{
    background: linear-gradient(135deg, #2c3e50, #4a6491);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4c91af;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #a04545;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}