
.main-content {
    width: 70%;
    padding: 20px;
    margin-left: 5px;
    background: linear-gradient(90deg, #ffffff,#dcf3ff ,#cccccc);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
}

.certificate{
    
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 20px;
        width: 200px;
    
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #1c80d7;
}

.job,
.education {
    margin-bottom: 20px;
}

.job h3,
.education h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #452ba3;
}

.date {
    color: #000000;
    margin: 5px 0;
    font-size: 0.9rem;
}

.date i {
    margin-right: 10px;
}

.current {
    background: #4CAF50;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
}

.section-reference{
    display: flex;
    flex-direction: row;
}