
.contact-info {
    flex: 1;
    color: #fff;
}

.contact-info h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    animation: fadeIn 2s ease-in-out;
}

.contact-info p {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 60px;
    font-weight: 400;
    animation: fadeIn 2.5s ease-in-out;
}

.info-details p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    margin: 15px 0;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-details p i {
    font-size: 16px;
    color: white;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    animation: fadeIn 2.5s ease-in-out;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #007bff;
}