
.skills-container {
    display: flex;
    gap: 50px;
}

.skills-chart {
    flex: 1;
}

.skill-item {
    margin-bottom: 30px;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.skill-info span:first-child {
    font-weight: 500;
    color: var(--secondary);
}

.skill-bar {
    height: 8px;
    background-color: #e9e9e9;
    border-radius: 4px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    background-color: var(--primary);
    border-radius: 4px;
    transition: width 1.5s ease;
}

.skills-text {
    flex: 1;
}

.skills-text h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--secondary);
}

.skills-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.skills-tags span {
    background-color: white;
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 14px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: var(--transition);
}

.skills-tags span:hover {
    background-color: var(--primary);
    color: white;
}

.filter-options {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

.filter-btn {
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition);
}

.filter-btn:hover, .filter-btn.active {
    background-color: var(--primary);
    color: white;
    border-color: var(--primary);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

.project-card {  
      background-color:  #b7dcdb;

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition: var(--transition);
    position: relative;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.project-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 171, 255, 0.705);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: var(--transition);
}

.project-card:hover .project-overlay {
    opacity: 1;
}

.project-info {
    padding: 20px;
}

.project-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--secondary);
}

.project-category {
    font-size: 14px;
    color: var(--primary);
    margin-bottom: 15px;
}

.project-description {
    margin-bottom: 15px;
    font-size: 14px;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-tag {
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 12px;
}